<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <div>
      <% @notes.each do |note| %>
        <div class="link link-primary">
          <%= link_to note.title, notes_path %>
        </div>
        <div>
          <%= note.content %>
        </div>
        <div class="divider"></div>
      <% end %>
    </div>
  </body>
</html>
